body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projects {
  text-align: left;
  margin-left: 20px;
}

.issues {
  text-align: left;
  margin-left: 20px;
}

.navBar {
  display: inline;
  padding: 8px;
  background-color: #dddddd;
}

a {
    color: hotpink;
  }

.title {
  color: grey
}

.littleTitle {
  color: darkslategray 
}